@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto !important;
  background: #070b15;
  font-family: Inter, sans-serif;
}

.overlay {
  position: relative;
  width: 1920px;
  height: 1080px;
}

.scorebug {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 30px;
  background: #121212ee;
  border-radius: 18px;
  color: white;
}

.team {
  display: flex;
  align-items: center;
  gap: 15px;
}

.team img {
  width: 55px;
  height: 55px;
}
