@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@ar-sports/theme/globals.css';

html, body {
  background: transparent !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
